<div
  class="flex flex-col h-screen justify-between items-center w-28 bg-blue py-4"
>
  <div>
    <div class="flex gap-2 items-center w-fit p-2">
      <img
        class="w-10 h-10 bg-blue rounded-full"
        src="../../../assets/images/coin-Info-1.png"
        alt=""
      />
      <div class="flex text-xs text-white font-pacifico font-semibold">
        Coin Info
      </div>
    </div>
    <hr class="underline border-solid border-2 border-white w-full" />

    <div class="flex flex-col justify-center items-center">
      <div
        class="flex justify-center hover:bg-white w-full py-2 items-center mt-4"
      >
        <img
          class="w-11 h-11 cursor-pointer"
          src="../../../assets/icons/accueil.svg"
          alt=""
        />
      </div>
      <div
        class="flex justify-center hover:bg-white w-full py-2 items-center mt-4"
      >
        <img
          class="w-11 h-11 cursor-pointer"
          src="../../../assets/icons/portefeuille-de-cartes1.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div
    class="flex justify-center hover:bg-white w-full py-2 items-center -mt-20"
  >
    <img
      class="w-10 h-10 cursor-pointer"
      src="../../../assets/icons/sortie.png"
      alt=""
    />
  </div>
</div>
